body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

#container {
    display: flex;
    width: 100%;
}

#left-pane {
    width: 70%;
    background-color: #282828;
    overflow: hidden;
    position: relative;
}

#left-pane h1 {
    margin: 20px 0 0 20px;
}

#right-pane {
    width: 30%;
    background-color: #282828;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #80f0ff;
}

.node circle {
    fill: #FF5722;
    transition: r 0.15s, fill 0.15s, opacity 0.15s;
}

.node circle.selected {
    fill: #FFAB91;
}

.node circle.dull {
    opacity: 0.3;
}

.link {
    stroke: #797979;
    stroke-opacity: 0.6;
}

#character-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#character-details h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#character-details p {
    margin: 2px 0;
}

h3 {
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: #ffffff;
    z-index: 10;
}
