body {
    font-family: Quicksand;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

#container {
    display: flex;
    width: 100%;
}

#left-pane {
    width: 65%;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

#left-pane h1 {
    font-size: 35px;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#right-pane {
    position: relative; /* Ensure relative positioning for stacking context */
    width: 35%; /* Adjust width as needed */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto; /* Enable vertical scrolling for content */
}

#right-pane::before {
    content: '';
    position: fixed; /* Fixed position for the background image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    z-index: -1; /* Place the background image behind other content */
}

#right-pane-content {
    position: relative;
    z-index: 1;
    color: #ffffff;
}


#right-pane-content h3 {
    color: #80f0ff; /* Different styling for headings */
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#right-pane-content p {
    margin: 10px 0; /* Adjust spacing between paragraphs */
}

#right-pane-content span {
    font-weight: bold; /* Different styling for the values */
    color: #ffab91; /* Different color for the values */
}

.stat-label1 {
    font-weight: bold;
    color: #80f0ff; /* Example color for labels */
}
.stat-value1 {
    font-weight: normal;
    color: #ffffff; /* Example color for values */
}

.stat-label2 {
    font-weight: bold;
    text-align: left;
    float: left;
    color: #80ff91; /* Example color for labels */
}

.stat-value2 {
    font-weight: normal;
    text-align: right;
    float: right;
    color: #ffffff; /* Example color for values */
}

.stat-label3 {
    font-weight: bold;
    text-align: left;
    color: #ff8080; /* Example color for labels */
}
.stat-value3 {
    font-weight: normal;
    text-align: right;
    color: #ffffff; /* Example color for values */
}

.movie-item {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.movie-item p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.movie-break {
    height: 0px; /* Ensures the height is controlled by the margin */
}

#movies-list {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #80f0ff;
}

.node circle {
    fill: #FF5722;
    transition: r 0.15s, fill 0.15s, opacity 0.15s;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.node circle.selected {
    fill: #FFAB91;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.node circle.dull {
    opacity: 0.3;
}

#character-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#character-details h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#character-details p {
    margin: 2px 0;
}

h3 {
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: #ffffff;
    z-index: 10;
}


/* Character name box */
.character-name-box {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    margin-bottom: 20px;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00;
}

.centrality-stats-box {
    border: 1px solid #80f0ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
}

.correlations-box {
    border: 1px solid #ff8080;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
}

.movies-box {
    border: 1px solid #80ff91;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;
}